<div class="row">
    <div class="col-sm-6">
        <h3>Installation</h3>
        <a href="/installation">
            <img src="/view/images/placeholder.png" />
            <p>
                Instructions for installing SmartResolution on your own web server.
            </p>
        </a>
    </div>
    <div class="col-sm-6">
        <h3>Build a SmartResolution Module</h3>
        <a href="/module-how-to">
            <img src="/view/images/placeholder.png" />
            <p>
                A how-to guide for creating a SmartResolution Module.
            </p>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>Module API Documentation</h3>
        <a href="/module-docs/index.html">
            <img src="/view/images/placeholder.png" />
            <p>
                Documentation describing the functions and events available to your module.
            </p>
        </a>
    </div>
    <div class="col-sm-6">
        <h3>SmartResolution Core API</h3>
        <a href="/docs/index.html">
            <img src="/view/images/placeholder.png" />
            <p>
                Intended only for SmartResolution contributors.
            </p>
        </a>
    </div>
</div>