<div class="row">
    <div class="col-sm-12">
        <?php echo Markdown::instance()->convert(Base::instance()->read(__DIR__ . '/status.md')); ?>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <h1 style="margin-top: 0">SmartResolution</h1>

        <iframe style="margin: 20px auto 0; display: block" width="640" height="480" src="https://www.youtube.com/embed/qKRsTMZmfG8" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Live Demo</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="http://demo.smartresolution.org">http://demo.smartresolution.org</a> is a live demo of the SmartResolution software. Feel free to login using credentials you can find in the project's <a href="https://github.com/ChrisBAshton/smartresolution/blob/master/data/fixtures/fixture_data.yml">fixture data</a>, or register your own account. The demo site clears its database on an hourly basis.
                </p>

                <a class="btn btn-lg btn-primary btn-block" href="http://demo.smartresolution.org/">Live Demo</a>

                <p>
                    Seen enough? Go ahead and download:
                </p>

                <a class="btn btn-lg btn-success btn-block" href="/download">Download</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Open-source, extensible online dispute resolution software</h2>

        <p>
            SmartResolution is online dispute resolution (ODR) software which is:
        </p>

        <ul>
            <li>
                <strong>Free and open-source</strong>, meaning anyone can install the software for any purpose.
            </li>
            <li>
                <strong>Extensible</strong>, meaning you can make your SmartResolution installation even more powerful by plugging in modules of functionality.
            </li>
            <li>
                <strong>Robust</strong>; SmartResolution is backed up by integration and unit tests, continuous integration, CodeClimate and other tools, so you can have confidence that everything is thoroughly tested.
            </li>
        </ul>

        <p>
            SmartResolution is for you if you want to be a provider of ODR services. Simply install SmartResolution and any <a href="/marketplace">modules</a> relevant to your area of law or mediation, and you can start your online dispute resolution service today!
        </p>

        <p>
            Ready to get started? Once you've <a href="/download">downloaded SmartResolution</a>, follow these <a href="/installation">simple installation instructions</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Free and Open-Source</h2>

        <p>
            SmartResolution will always be open-source. This brings some great benefits to you: not only is the software completely free, but the code is fully open and anybody can contribute to the code to make SmartResolution better. <a href="https://github.com/ChrisBAshton/smartresolution">Check out the project on GitHub</a>.
        </p>

        <p>
            SmartResolution is covered by the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU Public License</a> (GPL v3). You may not use the software, documentation, and samples except in compliance with the license.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Extensible</h2>

        <p>
            Modules defining special dispute types can be plugged into the system. For example, there is a Maritime Collision module that specifically knows about maritime law and helps to automate the resolution of those kinds of dispute. It's still early days for module development, but the possibilities are endless.
        </p>

        <p>
            Check out the <a href="/marketplace">SmartResolution Marketplace</a> for a full list of available modules, or consider <a href="/module-how-to">writing your own</a>.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h2>Get started</h2>

        <p>
            Ready to get started? <a href="/download">Download SmartResolution</a>, then follow our <a href="/installation">simple installation process</a>.
        </p>

        <p>
            Still not quite sure what this is all about? <a href="http://demo.smartresolution.org/">Check out the live demo</a>. (Hint: to save time, just log in as <em>agent_a@t.co</em> with password <em>test</em>).
        </p>
    </div>
</div>