<div class="row">
    <div class="col-sm-12">
        <?php echo Markdown::instance()->convert(Base::instance()->read(__DIR__ . '/status.md')); ?>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <h1>SmartResolution</h1>

        <p>SmartResolution is Online Dispute Resolution software which is:

        <ul>
            <li>
                <strong>Free and open source software</strong> (FOSS), meaning anyone can install the software for any purpose.
            </li>
            <li>
                <strong>Fully extensible</strong>, meaning developers can write modules that can be plugged into any installation of SmartResolution. All sorts of exciting units of functionality can be plugged into the system, making your ODR platform even more powerful. <a href="/marketplace">Check out the Marketplace</a> for a full list.
            </li>
            <li>
                <strong>Enterprise level</strong>, backed up by integration and unit tests, continuous integration, CodeClimate and other tools.
            </li>
        </ul>

        <p>
            Ready to get started? <a href="/installation">The installation process is simple</a>.
        </p>

    </div>

    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Live Demo</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="http://demo.smartresolution.org">http://demo.smartresolution.org</a> is a live demo of the SmartResolution software. Feel free to login using credentials you can find in the project's <a href="https://github.com/ChrisBAshton/smartresolution/blob/master/data/fixtures/fixture_data.yml">fixture data</a>, or register your own account.
                </p>

                <a class="btn btn-lg btn-primary btn-block" href="http://demo.smartresolution.org/">Live Demo</a>

                <p>
                    The demo site clears its database on an hourly basis.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <h2>Background</h2>

        <p>
            SmartResolution is currently under construction and is a dissertation by <a href="http://ashton.codes">Chris Ashton</a>, who is a final year Software Engineering student at Aberystwyth University. <a href="/about">Read more about the dissertation here</a>.
        </p>

        <h2>License</h2>

        <p>
            This project is free and released as open source software covered by the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU Public License</a> (GPL v3). You may not use the software, documentation, and samples except in compliance with the license.
        </p>
    </div>
</div>